<h3 style="color: darkcyan;margin-top: 10px;margin-bottom: 10px;">Below is/are the Companies Currently registered</h3>
<div *ngIf="hasData;else thenBlock">
    <div class="card" style="overflow: auto;widows: 18rem;margin: 10px;display: inline-block;padding:10px;background-color: turquoise;" *ngFor="let company of companies">
        <img class="card-img-top" src="../assets/company.png" width="50px" height="100px" alt="card image">
        <div class="card-body" style="height: 200px;width: 200px;">
            <h5 class="card-title">{{company.companyName==undefined?"Not Mentioned":company.companyName}}</h5>
            <p class="card-text"><strong>Address : </strong>{{company.companyAddress==undefined?"Address is not mentioned":company.companyAddress}}</p>
            <button class="btn btn-danger" (click)="gotoDisplayToCompany(company.companyId)">See more</button>
        </div>
    </div>
</div>

<ng-template #thenBlock>
    <div class="center-company-list-thenblock">
        <hr>
        <h3>{{errMsg}}</h3>
        <hr>
    </div>
</ng-template>
