<h3 style="color: darkcyan;margin-top: 10px;margin-bottom: 10px;">Below is/are the Companies Currently registered</h3>
<hr>
<div *ngIf="hasData;else thenBlock">
    <div class="card" style="overflow: auto;widows: 18rem;margin: 10px;display: inline-block;padding:10px;background-color: turquoise;" *ngFor="let company of companies">
        <img class="card-img-top" src="../assets/company.png" width="50px" height="100px" alt="card image">
        <div class="card-body" style="height: 250px;width: 250px;">
            <h5><strong>Company Name :</strong></h5>
            <h6 class="card-text">{{company.companyName==undefined?"Not Mentioned":company.companyName}}</h6>
            <h5><strong>Company Address :</strong></h5>
            <h6 class="card-text">{{company.companyAddress==undefined?"Address is not mentioned":company.companyAddress}}</h6>
            <br>
            <button class="btn btn-danger" (click)="gotoDisplayToCompany(company.companyId)">Get more details</button>
        </div>
    </div>
</div>

<ng-template #thenBlock>
    <div style="margin-top: 10px;margin-left: 10px;color: green;">
        <div>
            <h5>{{errMsg}}</h5>
        </div>
    </div>
</ng-template>
