<div class="center-display-company">
    <h2>Company Details</h2>
    <br>
    <hr>
    <br>
    <h3><Strong>Company Id : </Strong>{{company.companyId==undefined?"Id is not mentioned":company.companyId}}</h3>
    <br>
    <hr>
    <h3><Strong>Company Name : </Strong>{{company.companyName==undefined?"Name is not mentioned":company.companyName}}</h3>
    <br>
    <hr>
    <h3><Strong>Company Address : </Strong>{{company.companyAddress==undefined?"Address is not mentioned":company.companyAddress}}</h3>
    <br>
    <hr>
    

</div>