<h3 style="color: darkcyan;margin-top: 10px;margin-bottom: 10px;">Use the below form to create Company</h3>
<div style="padding: 10px;" class="container-fluid">
    <form #companyForm="ngForm" (ngSubmit)="createCompany()">
    
        <div class="form-group">
          <label>Company Name </label>
          <input type="text" #name="ngModel" required class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="company.companyName" placeholder="Enter Name" style="width: 800px;">
        </div>
        <br>
        <div class="form-group">
          <label>Company Address</label>
          <input type="text" #address="ngModel" required class="form-control" [class.is-invalid]="address.invalid && address.touched" name="address" [(ngModel)]="company.companyAddress" placeholder="Enter Address" style="width: 800px;">
          <p *ngIf="addressStatus" style="color: red;">Please enter valid address</p>
        </div>
        <br>
        <button class="btn btn-primary" [disabled]="companyForm.form.invalid " type="submit">Create Company</button>
        <br>
      </form>
</div>

<div *ngIf="success;else thenBlock" style="margin-top: 10px;margin-left: 10px;color: green;">
    <div>
        <h5>{{succMsg}}</h5>
    </div>
</div>

<ng-template #thenBlock>
    <div *ngIf="onSearch;else emptyBlock" style="margin-top: 10px;margin-left: 10px;color: red;">
        <div>
            <h5>{{errMsg}}</h5>
        </div>
    </div>
</ng-template>

<ng-template #emptyBlock>
    <div>

    </div>
</ng-template>