<h3 style="color: darkcyan;margin-top: 10px;margin-bottom: 10px;">Use the below form to create Company</h3>
<div style="padding: 10px;" class="container-fluid">
    <form #companyForm="ngForm" (ngSubmit)="createCompany()">
    
        <div class="form-group">
          <label>Company Name </label>
          <input type="text" #name="ngModel" required class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="company.companyName" placeholder="Enter Name" style="width: 800px;">
        </div>
        <br>
        <div class="form-group">
          <label>Company Address</label>
          <input type="text" #address="ngModel" required class="form-control" [class.is-invalid]="address.invalid && address.touched" name="address" [(ngModel)]="company.companyAddress" placeholder="Enter Address" style="width: 800px;">
        </div>
        <br>
        <div>
          <label>Use these buttons to view/hide Map and to select Coordinates </label>
          <button class="btn btn-success" style="margin-right:10px;margin-left: 10px;" (click)="showMap()" type="button">View Map</button>
          <button class="btn btn-danger" style="margin-left:10px" (click)="hideMap()" type="button">Hide Map</button>
        </div>
        <br>
        <button class="btn btn-primary" [disabled]="companyForm.form.invalid " type="submit">Create Company</button>
        <br>
      </form>
</div>

<div *ngIf="map" style="margin-left: 10px;">
  <google-map height="400px" width="800px" [center]="center" [zoom]="zoom" (mapClick)="captureClick($event)">
    <map-marker [position]="center" [options]="markerOptions"></map-marker>
  </google-map>
</div>


<div *ngIf="success;else thenBlock">
    <div class="center-result">
        <hr>
        <h3>{{succMsg}}</h3>
        <hr>
    </div>
</div>

<ng-template #thenBlock>
    <div *ngIf="onSearch;else emptyBlock">
        <div class="center-result">
            <hr>
            <h3>{{errMsg}}</h3>
            <hr>
        </div>
    </div>
</ng-template>

<ng-template #emptyBlock>
    <div>

    </div>
</ng-template>