<div class="center-users">
    <p>Below listed operations can be performed on Users</p>
    <hr>
    <table class="table">
        <tbody>
          <tr>
            <td>List users</td>
            <td><button type="button" class="btn btn-danger">Click</button></td>
          </tr>
          <tr>
            <td>Get a specific user by ID</td>
            <td><button type="button" class="btn btn-danger">Click</button></td>
          </tr>
          <tr>
            <td>Create a user</td>
            <td><button type="button" class="btn btn-danger">Click</button></td>
          </tr>
          <tr>
            <td>Update a user</td>
            <td><button type="button" class="btn btn-danger">Click</button></td>
          </tr>
          <tr>
            <td>Deactivate a user</td>
            <td><button type="button" class="btn btn-danger">Click</button></td>
          </tr>
          <tr>
            <td>Delete a user</td>
            <td><button type="button" class="btn btn-danger">Click</button></td>
          </tr>
        </tbody>
      </table>
</div>
