<h3 style="color: darkcyan;margin-top: 10px;margin-bottom: 10px;">Get the required Company using Company Id</h3>
<div style="padding: 10px;" class="container-fluid">
    <form class="form-inline" #companyIdForm="ngForm" (ngSubmit)="getCompanyById(companyId)">
        <div style="margin: 10px;display: inline-flex;">
            <input type="text" #id="ngModel" required class="form-control" [class.is-invalid]="id.invalid && id.touched" name="id" [(ngModel)]="companyId" placeholder="Search with company Id" style="width: 300px;">
            <button class="btn btn-primary" [disabled]="companyIdForm.form.invalid" style="margin-left: 10px;" type="submit">Get Company</button>
        </div>
        
    </form>
</div>


<div *ngIf="hasData;else thenBlock">
    <div class="card" style="overflow: auto;widows: 18rem;margin: 10px;display: inline-block;padding:10px;background-color: turquoise;">
        <img class="card-img-top" src="../assets/company.png" width="50px" height="100px" alt="card image">
        <div class="card-body" style="height: 250px;width: 250px;">
            <h5><strong>Company Name :</strong></h5>
            <h6 class="card-text">{{company.companyName==undefined?"Not Mentioned":company.companyName}}</h6>
            <h5><strong>Company Address :</strong></h5>
            <h6 class="card-text">{{company.companyAddress==undefined?"Address is not mentioned":company.companyAddress}}</h6>
            <br>
            <button class="btn btn-danger" (click)="gotoDisplayToCompany(company.companyId)">Get more details</button>
        </div>
    </div>
</div>

<ng-template #thenBlock>
    <div *ngIf="onSearch;else emptyBlock" style="margin-top: 10px;margin-left: 20px;color: red;">
        <div>
            <h5>{{errMsg}}</h5>
        </div>
    </div>
</ng-template>

<ng-template #emptyBlock>
    <div>

    </div>
</ng-template>