.custom-nav {
  background-color: darkcyan;
  padding: 5px;
}

.text-nav {
  color: white;
  font-size: 20px;
}

.text-nav-brand {
  color: white;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.active {
  color: rgb(221, 203, 203);
}
