<div style="margin-left: 10px;margin-top: 10px;">
    <h3 style="color: darkcyan">Below listed operations can be performed on Companies</h3>
    <hr>
    <table class="table table-striped" style="width: 700px;">
        <tbody>
          <tr>
            <td>List companies</td>
            <td><button type="button" class="btn btn-primary" (click)="gotoCompaniesList()">Select</button></td>
          </tr>
          <tr>
            <td>Get a specific company by ID</td>
            <td><button type="button" class="btn btn-primary" (click)="gotoGetCompanyById()">Select</button></td>
          </tr>
          <tr>
            <td>Create a company</td>
            <td><button type="button" class="btn btn-primary" (click)="gotocreateCompany()">Select</button></td>
          </tr>
          <tr>
            <td>Update a company</td>
            <td><button type="button" class="btn btn-primary" (click)="gotoUpdateCompany()">Select</button></td>
          </tr>
          <tr>
            <td>Add users to a company</td>
            <td><button type="button" class="btn btn-primary" (click)="gotoAddUserToCompany()">Select</button></td>
          </tr>
          <tr>
            <td>Remove users from a company</td>
            <td><button type="button" class="btn btn-primary" (click)="gotoRemoveUserFromCompany()">Select</button></td>
          </tr>
          <tr>
            <td>Delete a company</td>
            <td><button type="button" class="btn btn-primary" (click)="gotoDeleteCompany()">Select</button></td>
          </tr>
        </tbody>
      </table>
</div>
