<div *ngIf="hasData;else thenBlock">
    <div class="card" style="overflow: auto;widows: 18rem;margin: 10px;display: inline-block;padding:10px;background-color: turquoise;" *ngFor="let user of users">
        <img class="card-img-top" src="../assets/user.png" width="80px" height="300px" alt="card image">
        <div class="card-body" style="height: 300px;width: 350px;">
            <p class="card-title"><strong>User Id : </strong>{{user.userId==undefined?"Not Mentioned":user.userId}}</p>
            <p class="card-title"><strong>First Name : </strong>{{user.firstName==undefined?"Not Mentioned":user.firstName}}</p>
            <p class="card-title"><strong>Last Name : </strong>{{user.lastName==undefined?"Not Mentioned":user.lastName}}</p>
            <p class="card-title"><strong>Email : </strong>{{user.email==undefined?"Not Mentioned":user.email}}</p>
            <p class="card-title"><strong>Designation : </strong>{{user.designation==undefined?"Not Mentioned":user.designation}}</p>
            <p class="card-title"><strong>Date Of Birth : </strong>{{user.dob==undefined?"Not Mentioned":user.dob}}</p>
            <p class="card-title"><strong>Active : </strong>{{user.active==undefined?"Not Mentioned":user.active}}</p>

        </div>
    </div>
</div>

<ng-template #thenBlock>
    <div class="center-user-list-thenblock">
        <hr>
        <h3>{{errMsg}}</h3>
        <hr>
    </div>
</ng-template>
