<div class="center-home">
    <h3> Hi, Welcome to Companies and Users Management</h3>
    <hr>
    <p>This is UI-friendly web app on top of your REST APIs to manage companies and users from the browser</p>
    <hr>
    <p>Under Companies this web app supports the following operations</p>
    <p># Listing companies</p>
    <p># Get a specific company by ID</p>
    <p># Create a company</p>
    <p># Update a company</p>
    <p># Add / remove users to / from a company</p>
    <p># Delete a company</p>
    <hr>
    <p>Under Users this web app supports the following operations</p>
    <p># Listing users</p>
    <p># Get a specific user by ID</p>
    <p># Create a user</p>
    <p># Update a user</p>
    <p># Deactivate a user</p>
    <p># Delete a user</p>

</div>